{% block body %}
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-9">
                {% block main %}
                    {% for comment in comments %}
                        <ul>
                            <li>{{ comment.content }}</li>
                        </ul>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
